<div class="msg-body d-flex align-items-center">
  <%= cl_image_tag message.user.avatar, class:"avatar-msg" %> <p id="message-txt"><strong><%= "#{message.user.username}"%></strong>: <%="#{message.content}" %></p>
</div>
