<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url 'couch.jpg' %>);">
  <div class="container">
    <h1>Earn <strong>money</strong> doing what you <strong>love</strong> most!</h1>
    <p>Find opponents across the globe and start playing right now</p>
    <%= link_to "Play now", "#", class: "btn btn-flat" %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">
      <% @lobbies.each do |l| %>
        <%= l.title %>
      <% end %>
    </div>
    <div class="col">
    </div>
  </div>
</div>
