<div class="container">
  <div class="beef-card">
    <div class="beef-card-info"><p>rules</p><p>time</p><h2>price</h2></div>
    <div class="beef-card-link"><a href="lobby_session_path(@lobby, @sessions)">Check beef</a></div>
    <div class="beef-card-avatar"><%= cl_image_tag current_user.avatar %><h2><strong>Username</strong></h2></div>
  </div>
</div>
