  <div class="card lobby_card" style="width: 18rem;">
    <%= image_tag lobby.photo, class:"card-img-top"%>
    <div class="card-body card-body-lobby">
      <h5 class="card-title"><%= lobby.title %></h5>
      <p class="card-text">Join or create a game</p>
    </div>
  </div>
