
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
  </a>
</nav>
<div class="card" style="width: 18rem;">
  <%= image_tag "fifa2.png", class:"card-img-top" %>
  <div class="card-body-lobby">
    <p class="card-text">Join or create a game!</p>
  </div>
</div>







<br>
<br>


  <div class="card lobby_card" style="width: 18rem;">
    <%= image_tag "fifa2.png", class:"card-img-top"%>
    <div class="card-body card-body-lobby">
      <h5 class="card-title">Fifa 20</h5>
      <p class="card-text">Join or create a game</p>
    </div>
<div class="game_card">
  <h5>Username</h5>
  <div>
    <p>Duration</p>
    <h4>price</h4>
  </div>
  <a class="game_card_btn" href="">Join Game</a>
</div>






