







  <div class="card lobby_card" style="width: 18rem;">
    <%= image_tag "fifa2.png", class:"card-img-top" %>
    <div class="card-body card-body-lobby">
      <h5 class="card-title">Fifa 20</h5>
      <p class="card-text">Join or create a game</p>
    </div>
  </div>

