<div class="container text-white">
<h1>Dashboards#show</h1>
<div class="row">
  <div class="col-6">
    <h2>Active Beefs</h2>
    <% @alls.each do |s|%>
    <% if s.status != "finished" %>
    <%= s.user  %> <%= s.price*2 %>
    <% end %>
    <% end %>
  </div>
  <div class="col-6">
    <h3>Settled Beefs</h3>
    <% @sessions.each do |s| %>
    <%= s.user %> <% s.price %>
    <% end %>
  </div>
</div>
</div>

      <% if @session.user_invites.any?  %>
  <%= @session.user_invites.first.user.email %>
<% end %>
