.beef-card{
  position: relative;
  width: 90%;
  height: 80px;
  background-color: transparent;
  padding-left: 20px;
  margin-left: 20px;
}

.cardc {
  margin-top:30px;
}

.title{
  color: white;
    font-family: 'Lilita One', cursive;
  font-size: 31px;
}

.session {
  margin-bottom: 80px;
  color:white;
  font-size: 20px;
    font-family: 'Lilita One', cursive;
}

.beef-card-info {
  display: flex;
  color: white;
  border: solid;
  border-width: 5px;
  border-color: #f88a2b;
  justify-content: space-between;
  background-color: black;
  height: 70px;
  line-height: 50px;
  padding: 20px;
  align-items: center;
  p {
    margin-top: 12px;
    padding: 14px;
  }
}

.cards-lobby-show {
  margin-bottom: 120px;
}
.beef-card-link {
  text-align: right;
  margin-top: 8px;
  font-weight: bold;
}

.beef-card-link a {
  background-color: #f88a2b;
  text-decoration: none;
  color: black;
  padding: 10px 24px;
}

.beef-card-avatar {
  display: flex;
  position: absolute;
  top: -42px;
  left: -24px;
  color: #f88a2b;
  align-items: center;
  h2 {
    font-size: 20px;
    margin-left: 8px;
  }

  img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: black;
  }
}
.beef-card-avatar-two {
  display: flex;
  position: absolute;
  bottom: -42px;
  right: -24px;
  color: #f88a2b;
  align-items: center;

  img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: black;
  }
}
  #textx {
    margin-top: 20px;
    margin-right: 4px;
    font-size: 1.75rem;
    margin-left: 8px;
  }


.beef-card-info-s {
  display: flex;
  color: white;
  border: solid;
  border-width: 5px;
  border-color: #f88a2b;
  justify-content: space-between;
  background-color: black;
  height: 70px;
  line-height: 50px;
  padding: 20px;
  align-items: center;
  p {
    margin-top: 12px;
    padding: 14px;
  }
}

.beef-card-avatar-dashboard {
  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
  }
  p {
    margin-bottom: 0;
  }
}

.dashboard-card {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.4);
}

#messages {
  max-height: 240px;
  overflow: scroll;
}

.find-opponent {
  margin-top: 32px;
  padding: 8px 24px;
  border: solid 1px #f88a2b;
  border-radius: 10px;
}

.cancel-beef {
  padding: 6px 16px;
  border: solid 1px #f88a2b;
  border-radius: 10px;
}
