

.btn-flat-orange {
  color: black;
  font-weight: bold;
  padding: 8px 24px;
  border-radius: 4px;
  background: #f88a2b;
  transition: background 0.3s ease;
  text-align: center;
  position: sticky;
  top: 0;
  width: 100%;
}

