.btn-flat {
  color: black;
  font-weight: bold;
  padding: 8px 24px;
  border-radius: 4px;
  background: #f88a2b;
  text-align: center;
}

.btn-text-black {
  color: black !important;
}

#button {
  color:white;
}

