

.btn-flat-orange {
  color: black;
  font-weight: bold;
  padding: 6px 24px;
  background: #f88a2b;
  text-align: center;
  position:fixed;
  bottom:0;
  right:0;
  height:50px;
  width: 100%;
  font-size: 24px !important;

}

.btn-back {
  font-size: xx-large;
}

.btn-flat-dis {
  color: #f88a2b;
  font-weight: bold;
  padding: 12px 24px;
  background: black;
  text-align: center;
  position:fixed;
  border: solid;
  border-color: #f88a2b;
  bottom:0;
  left:0;
  height:50px;
  width: 100%;
}

#loco {
  border-color: #f88a2b!important;
}
