.form-inputs {
  color: white;
}

.form-check-label.boolean.optional {
  color: white;
}

.form-group {
  color: white;
}

h5, li {
  color: white;
}

a {
  color: #f88a2b;
}
.custom-rules{
font-weight: bold;
text-align: left;
line-height: 16px;
margin-top: 24px;
margin-bottom: 24px;

}
.messenger-button{
  background-color: #f88a2b;
  text-align: center;
  font-weight: bold;
  margin: 16px;
}

.messenger-tab{
font-size: 16px;
margin: 16px;
}
