.form-inputs {
  color: white;
}

.form-check-label.boolean.optional {
  color: white;
}

.form-group {
  color: white;
}

h5, li {
  color: white;
}

a {
  color:white;
}
.custom-rules{
font-weight: bold;
text-align: left;
line-height: 16px;
margin-top: 24px;
margin-bottom: 24px;

}
.messenger-button{
  background-color: #f88a2b;
  text-align: center;
  font-weight: bold;
  border: solid;
  border-color: #f88a2b;
  padding: 6px 28px;
  border-radius: 10px;
  margin-right: 16px;
  margin-bottom: 78px;
}

.messenger-tab{
font-size: 16px;
margin: 16px;
}

.new-form-inputs{
  padding: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}

#collapseOne {
background-color: black;
}

.btn-link {
  text-align: left;
  color: black;
  background-color: #f88a2b;
  padding:10px;

  text-decoration: none;
    &:hover {
    text-decoration: none !important;
    color: white !important;
  }
}

#headingOne{
  background-color: #f88a2b;
}

#accordionExample{
  border: none;
}

.card-header:hover {
  text-decoration: none;
}
