.game-banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('fifa2.png');
  background-size: cover;
  // background-position: center;
  height: 300px;
  // padding: 150px 0;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

