// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

a {
  font-weight: 700!important;
}

h2, h5, li, p {
  color: white;
}

.custom-rules{
font-weight: bold;
text-align: left;

}
